# Python
__pycache__/
*.pyc
.venv/
env/
venv/
dist/
build/
*.zip

# Node
node_modules/
npm-debug.log*

# Terraform
.terraform/
terraform.tfstate*
.terraform.lock.hcl

# macOS
.DS_Store

# Misc
.env
.aws-sam/
